*.o
*.bin

bpf_bpfel.go
bpf_bpfeb.go
bpf_x86_bpfel.go

ebpf-go-bootstrap

test/trace-helper/stacktrace-prog/stacktrace-prog
examples/minimal_ns/minimal_ns
examples/minimal_legacy/minimal_legacy
examples/bootstrap/bootstrap
examples/sockfilter/sockfilter
examples/fentry/fentry
examples/kprobe/kprobe
examples/tc/tc
examples/profile/profile
examples/taskiter/taskiter
examples/lsm/lsm
examples/ksyscall/ksyscall
examples/ksyscall-new/ksyscall-new
examples/bindsnoop/bindsnoop